[Desktop Entry]
Name=Do It Yourself Bar
Comment=Create simple text-based widgets
Icon=doityourselfbar
Type=Service

X-KDE-PluginInfo-Name=org.kde.plasma.doityourselfbar
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Author=wsdfhjxc
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-MainScript=ui/applet/Applet.qml
X-Plasma-API=declarativeappletscript
